body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 15px;
  color: #121212;
  line-height: 1.5;
  background: url("img/OIP.jpg")
}
.page {
  width: 800px;
  margin: 20px auto;
}
/* Header */


.header {
  padding: 20px;
  background-color: #8a8989;
}


.header-title {
  margin: 0;
  text-align: center;
  font-size: 24px;
  color: #fff;
}


.header-subtitle {
  margin: 0;
  text-align: center;
  font-size: 16px;
  color: #fff;
  font-weight: normal;
}


/* Nav */

.nav {
  text-align: center;
}

.nav-link {
  display: inline-block;
  padding: 8px 12px;
  text-decoration: none;
  color: rgb(128, 128, 128);
}
.nav-link:hover {
  background-color: #eee;
}


/* img */
.img {
  text-align: center;
  
}
/* Content */
.content {
  padding: 20px
}


.content-title {
  margin: 0 0 5px;
  font-size: 24px;
  color: white;

}


.content-text {
  color:white;
  margin-bottom: 20px;
}



/* Link */
.read-more {
  text-decoration: none;
  color:#e21d1d;
}

.content-link:hover {
  text-decoration: underline;
}


/* Article */
.article {
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}


.article-title {
  font-size: 18px;
  color: white;
  margin:0 0 15px;

}

.article-title a {
  color: inherit;
  text-decoration: none;
}
.article-title a:hover {
  text-decoration: underline;
  background-color: #514f4f;
}

.article-date {
  color: #ccc;
  font-size: 12px;
}



.article-text {
  color:#8a8989
}



/* Footer */
.footer {
  padding: 20px;
  background-color: #cccbcb;
  color: #3d3c3c;
  text-align: center;
}




/* form */

.form {
  width: 500px;
  padding: 20px;
  margin: auto;

  background-color: #3d3c3c;
}